* {
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: inherit;
  background-color: #050505;
}

button,
select {
  font-family: inherit;
}
