{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}TODO App{% endblock %}</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'todos/style.css' %}">
</head>

<body>
    <div class="page">
        <header>
            <h1>TODO App</h1>
            <nav>
                <a href="{% url 'todo_list' %}">Home</a>
            </nav>
            <hr>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
